*{
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: #0d1d2c; */
}
#containers{
    padding: 20px;
    background-color: #0d1d2c;
    height: 969px;
}
.inline{
    display: inline-block;
}
#logo{
    width: 300px;
}
.menu{
    font-size: 40px;
    color: white;
}
.menu:hover{
    text-decoration: none;
}
#enlaces{
    vertical-align: top;
    margin-top: 10px;
    margin-left: 600px;
}
#nav{
    padding: 20px;
}
.left{
    margin-left: 100px;
}
#titulo{
    background-color: white;
    height: 100px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
#titulo h1{
    background-color: white;
    color: #0d1d2c;
    font-size: 50px;
}
#menu{
    height: 550px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}
#grafico{
    margin: 50px 0px 0px 80px;
}
.gcolors{
    vertical-align: top;
    margin-top: 70px;
    margin-left: 30px;
}
.colores{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    /* border: 1px solid black; */
}
#rojo{
    background-color: #ff2224;
}
#amarillo{
    background-color: #ffcd56;
}
#verde{
    background-color: #36a255;
}
.span{
    background-color: white;
    vertical-align: top;
    margin-left: 10px;
    color: #0d1d2c;
}
#datos{
    background-color: white;
}
#alarmas h2{
    color: #0d1d2c;
    background-color: white;
}
#alarmas{
    background-color: white;
    vertical-align: top;
    margin-left: 200px;
}
.white{
    background-color: white;
}
.td{
    padding-left: 30px;
}
.fuente{
    font-size: 30px;
}
#tabla{
    margin-left: 150px;
    margin-top: 30px;
}
#noname{
    margin-left: 100px;
}
#footer{
    height: 100px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
}
#p{
    vertical-align: middle;
    font-size: 20px;
}
/* ------------------------------------------------Grafico-----------------------------------------------  */

#canvas{
    margin-left: 250px;
    margin-top: 30px;
}

  /*--------------------------------------------devices-------------------------------------------------------- */

#ul{
    margin-left: 1100px;
    font-size: 30px;
}
.li{
    color: white;
    background-color: #0d1d2c;
    padding: 10px; 
    border-radius: 8px;
}
.li:hover{
    text-decoration: none;
    /* color: aqua; */
}
.back{
    background-color: #0d1d2c !important;
}
#tabladevice{
    margin-top: 50px;
}
.color{
    background-color: #0d1d2c !important;
    color: white !important;
}
.input{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 60px;
}
.espacio{
    margin-bottom: 10px;
}
/*-----------------------------------------------------------------------delete-------------------------------------*/

#sure{
    text-align: center;
    margin-top: 200px;
}
#no:hover{
    color: white;
}